
{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="https://media.licdn.com/dms/image/v2/D5603AQGHlQuu0RJZ4w/profile-displayphoto-shrink_400_400/B56ZbmfwDQGgAo-/0/1747623806065?e=1756339200&v=beta&t=td3-a4U622i2EM1V4m4E5snYdGrzPLbGI0ZCqI-XnYY">
        </div>
        <h1>{{ title }}</h1>
    </div>
    <div>
        <section>
            <button class="toggle-button" onclick="toggleSection('about')">About Me</button>
            <div id="about" class="section-content">
                <div class="section-card">
                    <h3>
                        <strong>Miguel Ruiz</strong>
                    </h3>
                    <p>I am Miguel Ruiz, a rising senior at Universidad La Salle Chihuahua and an aspiring Software Engineer. 
                        I have a passion for technology and building products that will be used by thousands of people.</p>
                </div>
            </div>
        </section>
        <section>
            <button class="toggle-button" onclick="toggleSection('education')">Education</button>
            <div id="education" class="section-content">
                {% for edu in education %}
                <div class="section-card">
                    <h3>{{ edu.school }}</h3>
                    <p><strong>{{ edu.degree }}</strong> | {{ edu.startDate }} - {{edu.endDate}}</p>
                    <p>GPA {{ edu.gpa }}</p>
                </div>
                {% endfor %}
            </div>
        </section>
        <section>
            <button class="toggle-button" onclick="toggleSection('experience')">Experience</button>
            <div id="experience" class="section-content">
            {% for exp in experience %}
            <div class="section-card">
                <h3>{{ exp.title }}</h3>
                <p><strong>{{ exp.company }}</strong> | {{ exp.startDate }} - {{exp.endDate}}</p>
                <p>Location: {{ exp.location }}</p>
                <ul class="list">
                    {% for resp in exp.responsabilities %}
                    <li>{{ resp }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
    {% block scripts %}
    <script>
        function toggleSection(id) {
            const el = document.getElementById(id);
            el.classList.toggle("active");
        }
    </script>
    {% endblock %}
