{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% endblock %}

{% block content %}

<h1 class="text-center font-bold text-3xl mt-10"> Cool places I've been to! </h1>
<h3 class="text-center font-bold text-xl"> Click on the pins! </h3>

<div class="flex items-center justify-center text-center mb-4">
    <div id='map'
        class="h-[50vh] w-full max-w-full mx-1 my-1 rounded-sm border border-blue-500 box-border sm:h-[60vh] sm:mx-2.5 sm:my-2.5 sm:rounded-md sm:border-2 md:h-[70vh] md:mx-5 md:my-5 md:rounded-lg lg:h-[75vh] lg:max-w-7xl">
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const map = L.map('map').setView([23.284315, -102.506768], 5);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    fetch('/static/data/places.json')  
        .then(response => response.json())
        .then(data => {
            data.forEach(place => {
                const flagPin = L.icon({
                    iconUrl: `https://flagcdn.com/w40/${place.country.toLowerCase()}.png`,
                    iconSize: [40, 30],
                    iconAnchor: [20, 30],
                    popupAnchor: [0, -30]
                });

                const placeInfo_popup = `
                    <strong>${place.name}</strong><br>

                    ${place.desc}<br>

                    <div style="text-align:center; margin-top:10px;">
                    <img src="${place.image}" width="150">
                    </div>
                `;

                L.marker(place.coords, { icon: flagPin })
                    .addTo(map)
                    .bindPopup(placeInfo_popup);
            });
        })
        .catch(error => console.error('Error loading places file:', error));
</script>
{% endblock %}